/* 1 */
body {
    display: grid;
    grid-template: 100% / 20% 60% 20% ;
    color: rgb(5, 255, 201);
    background-color: rgb(5, 255, 201);
}

/* 10 */
.nota {
    position: absolute;
    top: 40%;
    left: 1%;
    animation: 5s moveLeft infinite linear;
}

@keyframes moveLeft {
    0% {
        transform: skew(0deg);
    }
    
    25% {
        transform: skew(-5deg);
    }
    
    50% {
        transform: skew(5deg);
    }
    
    100% {
        transform: skew(0deg);
    }
}

/* 10 */
.nota_primary {
    position: absolute;
    top: 40%;
    left: 81%;
    animation: 5s moveRight infinite linear;
}

@keyframes moveRight {
    0% {
        transform: skew(0deg);
    }
    
    25% {
        transform: skew(-5deg);
    }
    
    50% {
        transform: skew(5deg);
    }
    
    100% {
        transform: skew(0deg);
    }
}

/* 10 */
.wrapper {
    display: grid;
    grid-template: 7.5% 38% 42.5% 12% / 33.3% 33.3% 33.3% ;
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgb(226, 43, 43);
}

/* 10 */
.header {
    grid-area: 1 / 2 / 2 / 3;
}

/* 10 */
.header__title {
    justify-content: center;
    font-size: 2.3rem;
    padding: 7px;
    padding-top: 30px;
    margin-left: 18%;
    font-weight: 600;
    font-family: sans-serif;
}

/* 10 */
.main {
    display: grid;
    grid-template: 33.3% 33.3% 33.3% / 33.3% 33.3% 33.3% ;
    grid-area: 2 / 1 / 3 / 43;
}

/* 10 */
.main__block--top {
    width: 370px;
    padding: 10px;
    margin-left: 20px;
}

/* 10 */
.block--pivovar {
    grid-area: 1 / 1 / 2 / 2;
}

/* 10 */
.block--alyona {
    grid-area: 1 / 2 / 2 / 3;
}

/* 10 */
.block--yarmak {
    grid-area: 1 / 3 / 2 / 4;
}

/* 10 */
.main__block--center {
    width: 370px;
    padding: 10px;
    margin-left: 20px;
}

/* 10 */
.block--dorofeeva {
    grid-area: 2 / 1 / 3 / 2;
}

/* 10 */
.block--slofka {
    grid-area: 2 / 2 / 3 / 3;
}

/* 10 */
.block--kalush {
    grid-area: 2 / 3 / 3/ 4;
}

/* 10 */
.main__block--bottom {
    width: 370px;
    padding: 10px;
    margin-left: 20px;
}

/* 10 */
.block--osty {
    grid-area: 3 / 1 / 4 / 2;
}

/* 10 */
.block--chico {
    grid-area: 3 / 2 / 4 / 3;
}

/* 10 */
.block--qatoshi {
    grid-area: 3 / 3 / 4 / 4;
}

/* 10 */
.block__title {
    position: relative;
    top: -45%;
    left: -8%;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
}

/* 10 */
.block__invisible {
    position: relative;
    top: -66%;
    left: 8.8%;
    background-color: black;
    width: 67%;
    border-radius: 20px;
    z-index: 10;
}

/* 10 */
.invisible__text {
    padding: 18px;
    color: white;
}

/* 20 */
.block__invisible:hover {
    transition: 1s;
    opacity: 0;
}

/* 10 */
.main__video {
    margin-top: 30px;
    grid-area: 3 / 1 / 4 / 4 ;
}

/* 10 */
.video__title {
    text-align: center;
    font-size: 2.3rem;
    padding: 7px;
    padding-top: 10px;
    font-weight: 600;
    font-family: sans-serif;
}

/* 10 */
.video__major {
    margin-left: 20%;
    margin-top: 60px;
    width: 720px;
    height: 515px;
    z-index: 10;
}

/* 10 */
.video_picture {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 89%;
    margin-top: 58px;
    z-index: 0;
}
